<div class="container d-lg-flex">
  <div class="col-lg-6">
    <ul class="list-group shadow">
      <!-- list group item-->
      <li class="list-group-item">
        <!-- Custom content-->
        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
          <div class="media-body order-2 order-lg-1">
            <h5 class="mt-0 font-weight-bold mb-2">{{ product?.title }}</h5>
            <p class="font-italic text-muted mb-0 small">{{ product?.description }}</p>
            <div class="d-flex align-items-center justify-content-between mt-1">
              <h6 class="font-weight-bold my-2">₹{{ product?.price }}</h6>
              <ul class="list-inline small">
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
              </ul>
            </div>
          </div>
          <img [src]="product?.image" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2" />
        </div>
        <!-- End -->
      </li>
      <!-- End -->
    </ul>
  </div>
  <div class="box-2 col-lg-6">
    <div class="box-inner-2">
      <div>
        <p class="fw-bold">Payment Details</p>
        <p class="dis mb-3">Complete your purchase by providing your payment details</p>
      </div>
      <form action="">
        <div class="mb-3">
          <p class="dis fw-bold mb-2">Email address</p>
          <input class="form-control" type="email" value="birendranathmaity@gmail.com" />
        </div>
        <div>
          <p class="dis fw-bold mb-2">Card details</p>
          <div class="d-flex align-items-center justify-content-between card-atm border rounded">
            <div class="fab fa-cc-visa ps-3"></div>
            <input type="text" class="form-control" placeholder="Card Details" />
            <div class="d-flex w-50">
              <input type="text" class="form-control px-0" placeholder="MM/YY" />
              <input type="password" maxlength="3" class="form-control px-0" placeholder="CVV" />
            </div>
          </div>
          <div class="my-3 cardname">
            <p class="dis fw-bold mb-2">Cardholder name</p>
            <input class="form-control" type="text" />
          </div>
          <div class="address">
            <p class="dis fw-bold mb-3">Billing address</p>
            <select class="form-select" aria-label="Default select example">
              <option selected hidden>United States</option>
              <option value="1">India</option>
              <option value="2">Australia</option>
              <option value="3">Canada</option>
            </select>
            <div class="d-flex">
              <input class="form-control zip" type="text" placeholder="ZIP" />
              <input class="form-control state" type="text" placeholder="State" />
            </div>

            <div class="d-flex flex-column dis">
              <div class="d-flex align-items-center justify-content-between mb-2">
                <p class="fw-bold">Total</p>
                <p class="fw-bold">₹{{ product?.price }}</p>
              </div>
              <div class="btn btn-primary mt-2">Pay ₹{{ product?.price }}</div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- End -->
