<div class="container py-5">
  <div class="row text-center text-white mb-5">
    <div class="col-lg-7 mx-auto">
      <h1 class="display-4">Product List</h1>
    </div>
    <div class="col-lg-5">
      <div class="nav-item" ngbDropdown>
        <a id="user-dropdown " class="nav-link hand" ngbDropdownToggle>
          <i class="fas fa-search"></i> {{ selected ? selected : 'Category' }}
        </a>
        <div ngbDropdownMenu aria-labelledby="user-dropdown" class="dropdown-menu dropdown-menu-right">
          <ng-container *ngFor="let cate of category">
            <button class="dropdown-item" (click)="getFilterPro(cate.category)">{{ cate.category }}</button>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <!-- List group-->
      <ul class="list-group shadow">
        <!-- list group item-->
        <li class="list-group-item" *ngFor="let product of products">
          <!-- Custom content-->
          <div class="media align-items-lg-center flex-column flex-lg-row p-3">
            <div class="media-body order-2 order-lg-1">
              <h5 class="mt-0 font-weight-bold mb-2">{{ product.title }}</h5>
              <p class="font-italic text-muted mb-0 small">{{ product.description }}</p>
              <div class="d-flex align-items-center justify-content-between mt-1">
                <h6 class="font-weight-bold my-2">₹{{ product.price }}</h6>
                <ul class="list-inline small">
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                  <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>
                </ul>
              </div>
            </div>
            <img [src]="product.image" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2" />
            <button class="btn btn-success" routerLink="/products/{{ product._id }}">Buy</button>
          </div>
          <!-- End -->
        </li>
        <!-- End -->
      </ul>
      <!-- End -->
    </div>
  </div>
</div>
